.col,
.col-1,
div[class*='col-'] {
    /* border: 1px solid black; */
    margin-top: 10px;
}


/* body {
    background: #122225;
    color: white;
    font-family: Thasadith;
    font-style: normal;
} */


/* .row {
    border: 1px solid red;
} */

#header {
    height: 200px;
}

#nameHeader {
    font-family: Thasadith;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
}

#content {
    height: 956px;
}

div.profile #profileImg {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 40px 0 40px 30px;
}

div #actImg {
    height: 125px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#actCol {
    height: 200px;
    margin-bottom: 25px;
}

#bioCol {
    height: 200px;
}

#preCol {
    height: 200px;
}

#speCol {
    height: 220px;
    margin-top: 25px;
}

#leftBtn {
    margin-top: 75px;
    height: 50px;
}

#rightBtn {
    margin-top: 75px;
    height: 50px;
}

#logo {
    margin-top: 3px;
    height: 32px;
    width: 32px;
}

#bar1,
#bar2,
#bar3 {
    margin-top: 25px;
    height: 100px;
}

#footer {
    margin-top: 25px;
    height: 150px;
}

#logoCamt {
    margin-top: 20px;
    height: 110px;
    width: 220px;
}

#socLogo {
    margin-top: 45px;
    height: 60px;
    width: 300px;
}

form {
    margin-top: 20px;
}

#prev {
    width: 50px;
    height: 50px;
    background: transparent;
    border: unset;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    margin: 0;
}

#prev:hover {
    color: black;
    background-color: darkslategrey;
}

#prev:focus {
    outline: unset;
}

#next:focus {
    outline: unset;
}

#next:hover {
    color: black;
    background-color: darkslategrey;
}

#next {
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    border: unset;
}

#formContain {
    background-color: white;
    width: 40%;
    padding-bottom: 15px;
}